# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production & Build outputs
dist/
client/dist/
server/dist/
dev-dist/
client/dev-dist/

# Environment files
.env
.env.local
.env.*.local
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
